{% extends "admin/layout.html" %}

{% block title %}{{category.name}}{% endblock %}
{% block description %} {{category.description}} {% endblock %}

{% block content %}

<main class="container w-auto mx-auto md:w-1/2 flex justify-center flex-col items-center p-5">
    <h1 class="text-4xl text-blue-500 mb-8">Are you sure you want to delete the article {{article.title}}?</h1>
    <div class="flex justify-center items-center">
        <form action="{{doc_root}}admin/article-delete/{{id}}" method="post">
            <input id="id" name="id" type="hidden" value="{{id}}">
            <button class=" text-white bg-pink-600 p-3 m-2 rounded-md" type="submit">Yes</button>
        </form>
        <form action="{{doc_root}}admin/articles">
            <button class="text-white bg-blue-500 p-3 m-2 rounded-md" type="submit">No</button>
        </form>
    </div>

</main>

{% endblock %}